@import url(/WebTranscendance/css/global.css);

.headerNavBar {
  background-color: var(--liquid-lava);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: var(--16px);
  padding: var(--8px) var(--24px);
  border-radius: var(--24px);
}

.iconMenu {
  height: 2.656vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.icon {
  width: var(--36px);
  height: var(--36px);
}

.navLabel {
  font-size: 0.625vw;
  font-weight: 700;
  color: var(--snow);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.navLabel.active {
  opacity: 1;
  max-height: 50px; /* Ajustez cette valeur selon la hauteur maximale de vos labels */
}
