.main {
  flex-direction: row;
}

.gameSection {
  height: 100%;
  width: 58.333vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gluon-grey);
  border-radius: var(--radius-xlg);
}

.loginSection {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-xlg);
  flex-grow: 1;
}

.loginWidget {
  width: 16.486vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--20px);
}

h2 {
  font-size: var(--24px);
  color: var(--snow);
  padding: 0;
  margin: 0;
}

hr {
  width: 80%;
  border: 2px solid var(--dusty-grey);
  padding: 0;
  margin: 0;
}

.formInputFrame {
  width: 100%;
  height: 2.625vw;
  display: flex;
  position: relative;
}

.inputFrame {
  width: 100%;
  height: 100%;
  padding: var(--12px);
  border: #878787 var(--2px) solid;
  border-radius: 1.042vw;
  background-color: transparent;
  color: #fbfbfb;
  font-size: var(--12px);
  box-shadow: none;
}

.inputFrame:focus {
  border: #ff710d var(--2px) solid;
  background-color: transparent;
  outline: none;
  box-shadow: none; /* Supprime l'ombre de focus de Bootstrap */
  color: #fbfbfb;
}

.inputLabel {
  font-size: var(--12px);
  position: absolute;
  left: var(--16px);
  top: 50%;
  transform: translateY(-50%);
  color: var(--snow);
  transition: 0.3s;
  pointer-events: none;
  background-color: var(--dark-void);
}

.inputFrame:focus ~ .inputLabel,
.inputFrame:not(:placeholder-shown) ~ .inputLabel {
  top: 0;
  transform: translateY(-50%) scale(0.8);
  left: var(--8px);
  padding: 0 var(--12px);
  background-color: #151419;
  color: #ff710d;
  border-radius: var(--8px);
  font-weight: 700;
}

.loginWidgetButton,
.registerWidgetButton {
  width: 100%;
  height: 2.625vw;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-size: 1vw;
  background-color: var(--snow);
  color: var(--gluon-grey);
}

.registerWidgetButton {
  background-color: var(--dusty-grey);
  color: var(--snow);
}

.loginWidgetButton:hover {
  background-color: #ff710d;
  color: #fbfbfb;
  transition: ease 0.15s;
}

.registerWidgetButton:hover {
  background-color: var(--azur-blue);
  color: #fbfbfb;
  transition: ease 0.15s;
}
